queue: __QUEUE__
jobSetId: __JOBSET__
jobs:
  - namespace: default
    priority: 0
    podSpec:
      priorityClassName: armada-default
      terminationGracePeriodSeconds: 0
      restartPolicy: Never
      nodeSelector:
        armada-spark: "true"
      containers:
        - name: aggressor
          image: alpine:latest
          command:
            - sh
          args:
            - -c
            - echo aggressor-running; sleep 300
          resources:
            limits:
              memory: 256Mi
              cpu: __AGGRESSOR_CPU__
            requests:
              memory: 256Mi
              cpu: __AGGRESSOR_CPU__
