name: Build snapshots

on:
  workflow_call:

permissions: {}

jobs:
  build:
    name: Build Spark ${{ matrix.spark_version }} Scala ${{ matrix.scala_version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - scala_version: "2.13.8"
            spark_version: "4.1.0-SNAPSHOT"
            java_version: "17"

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build
        uses: ./.github/actions/build/
        with:
          spark_version: ${{ matrix.spark_version }}
          scala_version: ${{ matrix.scala_version }}
          java_version: ${{ matrix.java_version }}