name: CI

on:
  push:
    branches:
      - 'master'
    tags:
      - 'v*'
  pull_request:
    branches:
      - '**'
  workflow_dispatch:

permissions: {}

jobs:
  build:
    name: Build
    uses: ./.github/workflows/build.yaml
  build-snapshot:
    name: Build snapshots
    uses: ./.github/workflows/build-snapshots.yaml
  e2e:
    name: E2E
    uses: ./.github/workflows/e2e.yaml
